# HOMEWORK 2

Q1. load the dataset csv file using Pandas.

In [9]:
#importing pandas and reading using read csv function
import pandas as pd
df = pd.read_csv("/content/books_scraped.csv")
df.head()

,Title,Book_category,Star_rating,Price,Stock,Quantity
0,A Light in the Attic,Poetry,Three,51.77,In stock,22
1,Tipping the Velvet,Historical Fiction,One,53.74,In stock,20
2,Soumission,Fiction,One,50.10,In stock,20
3,Sharp Objects,Mystery,Four,47.82,In stock,20
4,Sapiens: A Brief History of Humankind,History,Five,54.23,In stock,20

Q2. compute the median price PM of a book.

In [10]:
#using quantile and round functions to compute median and round the final result
Median_Price_0f_Books = df["Price"].quantile(0.5)
Median_Price_0f_Books = Median_Price_0f_Books.round(2)
print("The median price for the books are: "+str(Median_Price_0f_Books))

The median price for the books are: 35.98

Q3. suppose we divide all books into 2 groups: ”cheap” books
with prices less than PM and ”expensive” books with prices
more than PM. What is the average price in each group and
what is the median price in group? Which one is larger for
each group.

In [11]:
#Filtering records in pandas by price using median as criteria
Cheap_books = df[df["Price"] < Median_Price_0f_Books ]
Expensive_books = df[df["Price"] > Median_Price_0f_Books ]

#computing means for both groups and rounding results
Mean_Of_Cheap_Books = Cheap_books["Price"].mean()
Mean_Of_Cheap_Books = Mean_Of_Cheap_Books.round(2)

Mean_Of_Expensive_Books = Expensive_books["Price"].mean()
Mean_Of_Expensive_Books = Mean_Of_Expensive_Books.round(2)

#computing median for both groups and rounding results
Median_Of_Cheap_Books = Cheap_books["Price"].median()
Median_Of_Cheap_Books = Median_Of_Cheap_Books.round(2)

Median_Of_Expensive_Books = Expensive_books["Price"].median()
Median_Of_Expensive_Books = Median_Of_Expensive_Books.round(2)

print("----------------------------------")
print("| Type\t    | Median\t| Average|")
print("----------------------------------")
print("| Expensive |".rjust(11)+" "+str(Median_Of_Expensive_Books).rjust(2)+"\t| "+str(Mean_Of_Expensive_Books)+"  |")
print("|    Cheap  |".rjust(11)+" "+str(Median_Of_Cheap_Books).rjust(2)+"\t| "+str(Mean_Of_Cheap_Books)+"  |")
print("----------------------------------")

print("\nThe averages for both categories of books is higher.")

----------------------------------
| Type	    | Median	| Average|
----------------------------------
| Expensive | 47.47	| 47.58  |
|    Cheap  | 22.1	| 22.56  |
----------------------------------

The averages for both categories of books is higher.

Q4. compute average price of a book by Star Rating.

In [12]:
#using groupby pandas function to group by star rating and computing mean price for each group
df.groupby("Star_rating",as_index=False)["Price"].mean().round(2)

  Star_rating  Price
0        Five  35.37
1        Four  36.09
2         One  34.56
3       Three  34.69
4         Two  34.81

Q5. compute average price of a book by Book Category.

In [13]:
#using groupby pandas function to group by book category and computing mean price for each group
df.groupby("Book_category",as_index=False)["Price"].mean().round(2)

         Book_category  Price
0             Academic  13.12
1        Add a comment  35.80
2        Adult Fiction  15.36
3                  Art  38.52
4        Autobiography  37.05
5            Biography  33.66
6             Business  32.46
7            Childrens  32.64
8            Christian  42.50
9    Christian Fiction  34.38
10            Classics  36.55
11        Contemporary  36.20
12               Crime  10.97
13            Cultural  36.58
14             Default  34.39
15             Erotica  19.19
16             Fantasy  39.59
17             Fiction  36.07
18      Food and Drink  31.41
19              Health  51.45
20          Historical  22.83
21  Historical Fiction  33.64
22             History  37.29
23              Horror  35.95
24               Humor  33.50
25               Music  35.64
26             Mystery  31.72
27           New Adult  46.38
28          Nonfiction  34.26
29              Novels  54.81
30          Paranormal  15.40
31           Parenting  37.35
32          Philosophy  33.56
33              Poetry  35.97
34            Politics  53.61
35          Psychology  34.22
36            Religion  32.57
37             Romance  33.93
38             Science  33.09
39     Science Fiction  33.80
40           Self Help  40.62
41      Sequential Art  34.57
42       Short Stories  35.88
43        Spirituality  35.10
44    Sports and Games  41.17
45            Suspense  58.33
46            Thriller  31.43
47              Travel  39.79
48      Womens Fiction  36.79
49         Young Adult  35.45

Q6. compute average price of a book by Book Category and
Star Rating.

In [14]:
#using groupby pandas function to group by book category and Star rating and finally computing mean price for each group
df.groupby(["Star_rating","Book_category"],as_index=False)["Price"].mean().round(2)

    Star_rating     Book_category  Price
0          Five     Add a comment  36.51
1          Five     Adult Fiction  15.36
2          Five               Art  39.51
3          Five     Autobiography  57.38
4          Five          Business  24.35
..          ...               ...    ...
177         Two  Sports and Games  44.91
178         Two          Thriller  22.36
179         Two            Travel  42.15
180         Two    Womens Fiction  42.80
181         Two       Young Adult  33.49

[182 rows x 3 columns]

Q7. assume that Quantity reflects the demand. For each Book
Category, compute the average demand (round the result
to integers). What are the top 3 Book Categories by this
criteria?

In [15]:
#using groupby pandas function to group by book category and Star rating computing mean quantity 
#( Demand ) for each group and rounding result to integers.
Demand_By_Category = df.groupby("Book_category")['Quantity'].agg(['mean']).round(0).astype(int)

#sorting book categories by demand (Average Quantity) and displaying first 13 as these represent 
#top 3 categories. 
Demand_By_Category.sort_values(by='mean',ascending=False).head(13)

                mean
Book_category
Cultural          15
Politics          15
Erotica           15
Crime             15
Poetry            12
Spirituality      12
Health            12
Self Help         12
Christian         12
Thriller          11
Business          11
Food and Drink    11
Contemporary      11

The top 3 book categories grouped according to demand are illustrated in the table above in decreasing order of demand as we go from top to bottom.

Q8. which column is redundant and why?

Answer 8:

Column "Stock" is redundant as it only contains a single value "In stock". Having this column is just as good as not having it, as for all books it has the same value, denoting all books are in stock. Stating that the data is only of books that are in stock at the bookstore.

**END**